<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Member">
	
	<resultMap id="resultMember" type="Member"> <!-- 매핑은 resultMember, 리턴 타입은 member -->
		<id property="id" column="ID"></id>
		<result property="passwd" column="PASSWD"></result>
		<result property="name" column="NAME"></result>
		<result property="email" column="EMAIL"></result>
		<result property="gender" column="GENDER"></result>
		<result property="age" column="AGE"></result>
		<result property="phone" column="PHONE"></result>
		<result property="address" column="ADDRESS"></result>
		<result property="enrollDate" column="ENROLL_DATE"></result>
	</resultMap>
	
	<!-- member table의 모든 데이터  select -->
	<select id="selectMemberAll" resultMap="resultMember">
		SELECT * FROM MEMBER
	</select>
	<!-- member 하나만 가져오는 select -->
	<select id="selectMember" parameterType="String" resultMap="resultMember">
		SELECT * FROM MEMBER WHERE ID = #{userid}
	</select>
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT count(*) FROM MEMBER WHERE ID = #{id}
	</select>
	<!-- member insert -->
	<insert id="insertMember" parameterType="Member">
		INSERT INTO MEMBER (ID, PASSWD, NAME, EMAIL, GENDER, AGE, PHONE, ADDRESS) VALUES (#{id}, #{passwd}, #{name}, #{email}, #{gender}, #{age}, #{phone}, #{address})
	</insert>
	<!-- member update -->
	<update id="updateMember">
		UPDATE MEMBER SET PASSWD = #{passwd}, NAME=#{name} WHERE ID=#{id}
	</update>
	<!-- member delete -->
	<delete id="deleteMember" parameterType="Member">
		DELETE FROM MEMBER WHERE ID = #{id}
	</delete>
</mapper>